#App {
  font-family: Helvetica, sans-serif;
  font-size: calc(14px + 1 * ((100vw - 400px) / 800));
  font-weight: lighter;
  width: 100%;
  min-height: 100vh;
  color: white;
  transition: background .5s;
}
#App.gratitudes {
   background: rgba(0, 150, 235, 0.6);
 }
#App.priorities {
   background: rgba(15, 155, 220, 0.6);
 }
#App.relationships {
   background: rgba(30, 165, 205, 0.6);
 }
#App.todays {
   background: rgba(45, 175, 175, 0.6);
 }
#App.projects {
   background: rgba(15, 125, 185, 0.6);
 }
#App.contacts {
   background: rgba(25, 130, 165, 0.6);
 }
#App.tasks {
   background: rgba(15, 105, 155, 0.6);
 }
 #App.base {
 }

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.flex.column {
  flex-flow: column wrap;
}

header {
  text-align: center;
  width: 100%;
  padding-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}


a {
  text-decoration: none;
  color: white;
}

.app-logo {
  width: 150px;
}

#app-version {
  color: white;
  font-size: 14px;
  width: 100%;
  font-family: Times;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    transition: color .5s;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    transition: color .5s;
    opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    transition: color .5s;
    opacity: 1;
}

:focus::-webkit-input-placeholder { color:transparent; }
:focus:-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }
