.new-input-wrapper {
  min-height: calc(100vh - 73px);
  background: rgba(0, 0, 0, .5);

}
.new-input-wrapper .controls {
  /* background: rgba(0, 150, 255, 1); */
  background: rgba(0, 0, 0, .1);

}

.g-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.g-form label {
  text-align: left;
  padding: 20px 0 20px 30px;
}

.g-form label.center {
  text-align: center;
}

.g-form input,
.g-form textarea {
  /* background: rgba(0, 0, 0, .1); */
  border: 0;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}

.g-form input {
  line-height: 25px;
}

#submit-button {
  height: 75px;
  background: rgba(255, 255, 255, .4);
  margin: 30px;
  cursor: pointer;
  border-radius: 0;
  align-self: center;
}

#date-input {
  text-align: center;
  align-self: center;
}

.form-toggle {
  justify-content: center;
  align-items: center;
}

.form-toggle span {
  width: 150px;
  margin-left: 10px;
}
