.instructions {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.instruction-image {
  width: 100%;
}

.list-wrapper{
  padding-bottom: 10px;
}

.item-list {
  width: 100%;
  margin: 0;
  padding: 0 0 10px 0;
}

.list-item {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  transition: background 5s;
}

.list-item.shallow {
  background: rgba(20, 20, 20, .4);
  margin: 10px;
  padding: 10px;
}

.list-item.shallow .title {
  margin-bottom: 10px;
}

.list-item.deep {
  margin: 0px;
  padding: 10px 20px;
  justify-content: space-between;
}

.list-item.deep .date {
  display: none;
}


.list-item.deep .list-item-actions {
  position: absolute;
  right: 20px;
}

.list-item.deep .title {
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
  /* margin-bottom: 3px; */
}

.list-item.deep .title .link {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
}

.list-item.deep .title .link .arrow {
  margin-left: 20px;
  font-size: 20px;
  /* border-bottom: 1px dashed rgba(255,255,255,0.5); */
}

.list-item-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.list-item.done {
  background: rgba(119, 119, 119, 0.6) !important;
}

.list-item.done .title {
  text-decoration: line-through;
}

li.list-item.task {
  margin: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, .3);
}

li.list-item.task .title {
  padding: 0 0 10px 0;
}

.title {
  font-size: 18px;
  width: 100%;
}

.content {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 0 0 5px;
}

.date, .list-icon {
  align-self: flex-end;
}

.list-icon img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* Toggle Switches */

.toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}

.toggle-item label {
  margin-left: 20px;
  min-width: 100px;
}

/* Animate List Items */

.list-item {
  transition: 250ms ease-in;
  position: relative;
}

.list-item-enter {
  position: relative;
  left: -100vh;
  background: green;
  opacity: 0;
}

.list-item-enter.list-item-enter-active {
  left: 0;
  opacity: 1;
  background: inherit;
}

.list-item-exit {
  position: relative;
  left: 0;
  /* opacity: 1; */
  height: 100px;
  background: transparent;
}

.list-item-exit.list-item-exit-active {
  left: -100vw;
  opacity: 0;
  height: 0;
}
