#main-menu {
  background: linear-gradient(rgba(0, 148, 255, 0.8), rgba(62, 187, 154, 0.8));
}
.menu-item-link:hover {
  transition: background .5s;
  background: rgba(0, 0, 0, 0.2);
}

.menu-item-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-item {
  justify-content: flex-start;
  align-items: center;
  background: inherit;
  padding: 5px 0;
  color: white;
}

.menu-item-icon {
  width: 15%;
  max-width: 50px;
  max-height: 50px;
  margin-left: 6%;
}

.menu-item-details {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 300px;
  margin-right: 2%;
  margin-left: 5%;
}

.menu-item-details a {
  color: white;
}
.menu-item-details p {
  margin: 0;
  padding: 5px 0;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.tagline {

}

p {
  margin: 10px 0;
}

#reset-state {
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: block;
  color: white;
  transition: background .5s;
}

#reset-state:hover {
  background: rgba(212, 83, 0, 0.7);
}


.priorities-submenu {
  justify-content: space-evenly;
  margin: 0 10%;
  padding: 5px;
  background: rgba(46, 147, 196, 0.6);
  color: white;
  border-radius: 100px;
}

.priorities-submenu > div {
  padding: 0 25px;
  border-radius: 100px;
}
.priorities-submenu .second {
  background: #2E93C4;
  margin: 0;
}

.priorities-submenu .icon {
  max-width: 25px;
  margin-right: 20px;
  align-self: center;
}
