#main-menu {
  margin-top: 10px;
}

.menu-item-link:hover {
  transition: background .5s;
  background: rgba(0, 0, 0, 0.2);
}

.menu-item-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-item {
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 5px 0;
  margin-left: 5%;
  color: white;
}

.menu-item-icon {
  max-width: 50px;
  max-height: 50px;
}

.menu-item-details {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 300px;
  margin-left: 5%;
}

.menu-item-details a {
  color: white;
}

.menu-item-details .tagline,
.menu-item-details .title {
  margin: 0;
}

.menu-item-details .title {
  font-size: 18px;
}

.menu-item-details .tagline {
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5px;
}

#reset-state {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: block;
  color: white;
  transition: background .5s;
  background: rgb(42,160,161);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

#reset-state:hover {
  background: rgba(212, 83, 0, 0.7);
}

.priorities-submenu {
  justify-content: center;
  align-self: center;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  /* background: rgba(0, 155, 180, 0.8); */
  background: rgba(255, 255, 255, 0.1);
}

.priorities-submenu > div {
  padding: 5px 15px;
  border-radius: 20px;
}

.priorities-submenu .second {
  /* background: rgba(0, 165, 180, 0.8); */
  background: rgba(255, 255, 255, 0.1);
}

.priorities-submenu .icon {
  max-width: 25px;
  margin-right: 10px;
}
