#main-menu {
  background: linear-gradient(rgba(0, 150, 255, 0.8), rgba(62, 187, 154, 0.8));
  margin-top: 10px;
}

.menu-item-link:hover {
  transition: background .5s;
  background: rgba(0, 0, 0, 0.2);
}

.menu-item-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-item {
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 5px 0;
  margin-left: 5%;
  color: white;
}

.menu-item-icon {
  max-width: 50px;
  max-height: 50px;
}

.menu-item-details {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 300px;
  margin-left: 5%;
}

.menu-item-details a {
  color: white;
}

.menu-item-details .tagline,
.menu-item-details .title {
  margin: 0;
  font-weight: 300;
}

.menu-item-details .title {
  /* font-weight: bold; */
  font-size: 24px;
}

.menu-item-details .tagline {
  padding-left: 5px;
}

#reset-state {
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: block;
  color: white;
  transition: background .5s;
}

#reset-state:hover {
  background: rgba(212, 83, 0, 0.7);
}


.priorities-submenu {
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(0, 155, 180, 0.8);
}

.priorities-submenu > div {
  padding: 0 15px;
  border-radius: 20px;
}

.priorities-submenu .second {
  background: rgba(0, 165, 180, 0.8);
}

.priorities-submenu .icon {
  max-width: 25px;
  margin-right: 10px;
  align-self: center;
}
