.controls {
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  height: 50px;
}

.controls a {
  cursor: pointer;
  text-decoration: underline;
  color: white;
  width: 30%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.controls .non-link {
  cursor: inherit;
  text-decoration: none;
}
