.route-transition {
  position: absolute;
  top: 30;
  width: 100vw;
  transition: .25s ease-in-out;
}

.enter-left.route-transition-enter {
  left: -100vw;
  opacity: 0;
}

.enter-left.route-transition-enter-active {
  left: 0;
  opacity: 1;
}

.exit-left.route-transition-exit {
  /* left: 0; */
  opacity: 1;
}

.exit-left.route-transition-exit-active {
  /* left: -100vw; */
  opacity: 0;
}

.enter-right.route-transition-enter {
  right: -100vw;
  opacity: 0;
}

.enter-right.route-transition-enter-active {
  right: 0;
  opacity: 1;
}

.exit-right.route-transition-exit {
  /* right: 0; */
  opacity: 1;
}

.exit-right.route-transition-exit-active {
  /* right: -100vw; */
  opacity: 0;
}

.enter-bottom.route-transition-enter {
  top: 100vw;
  opacity: 0;
}

.enter-bottom.route-transition-enter-active {
  top: 75px;
  opacity: 1;
}

.exit-bottom.route-transition-exit {
  top: 75px;
  opacity: 1;
}

.exit-bottom.route-transition-exit-active {
  top: 100vw;
  opacity: 0;
}



.test-animation {
  height: 300px;
  width: 100vw;
  line-height: 300px;
  background: white;
  color: black;
  text-align: center;
}
