.cloud-sync {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 0px;
}

.cloud-sync .controls {
}

.cloud-sync .options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

.cloud-sync .sync-button {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  margin: 10px ;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  flex-grow: 1;
  transition: .3s ease;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, .3);
}

.cloud-sync .options .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  bottom: 0;
  transition: .3s;
  color: white;
}

.cloud-sync .sync-button:hover .icon {
  position: relative;
  bottom: 3px;
  filter: invert(1) drop-shadow(10px 10px 10px rgba(0,0,0,1));
}

.cloud-sync .sync-button:hover {
  background: inherit;
  background: rgba(125, 125, 125, .5);
}

.settings .result {
  padding: 10px;
  text-align: center;
}

.settings .error {
  background: rgba(255, 0, 0, 0.5);
}

.settings .success {
  background: rgba(50, 120, 50, 0.7);
}

.settings .login {
  margin: 10px 20px 0 20px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
}
.settings .signup,
.settings .signin {
  margin: 0px 20px 0 20px;
  background: rgba(0, 0, 0, 0.4);
}

.settings .signup span,
.settings .signin span {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.settings .login input {
  background: transparent;
  margin: 5px auto;
}

.login {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.login input,
.login button {
  padding: 10px 0;
  margin: 0 auto;
}

.login button {
  padding: 10px;
}

.login + .signup,
.login + .signin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
