
.stat-bar {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-evenly;
  background: rgb(10, 115, 200);
  cursor: default;
}

.stat-block-line {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 12px;
}

.stat-block-line span {
  font-size: 24px;
}

.stat-block {
  padding: 1px 0;
}
