#user-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0 10px 0;
  background: linear-gradient(rgba(0, 150, 255, 1), rgba(0, 148, 255, .6))
}

input, textarea {
  background: inherit;
  color: white;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

.user-image {
  border: 3px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.user-image:hover {
  opacity: .8;
}

.user-image:focus{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.user-image-wrapper {
  margin-right: 5%;
}

.user-text {
  align-items: center;
}

.user-name {
  font-size: 18px;
  width: 100%;
  font-weight: 400;
}

.user-tagline {
  height: 50px;
  width: 200px;
  font-weight: 400;
}
