.user-image {
  border: 4px solid white;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
}

.user-image:hover {
  opacity: .8;
}

.user-image:focus{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.user-image-wrapper {
  justify-content: space-around;
}
