
ul {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.flex.column {
  flex-flow: column wrap;
  align-items: center;
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: lightgrey;
  opacity: 1;
}
