@import basics

.controls
  justify-content: space-between
  align-items: center
  background: transparent
  height: 50px
  border-bottom: 1px solid $shade20
  font-weight: 500
  transform: translateZ(0)
  a
    text-align: center
    cursor: pointer
    color: white
    overflow: hidden
    text-overflow: ellipsis
    padding: 5px 0
    display: flex
    flex-flow: row nowrap
    align-items: center
    &.non-link
      cursor: inherit
      text-decoration: none
      overflow: hidden
    .icon
      width: 20px
      height: 20px
    &.middle
      flex-basis: 33%
      flex-grow: 2
    &.middle
      align-items: center
      justify-content: center
    &.right
      padding-right: 10px
      justify-content: flex-end
      flex-basis: 20%
      flex-grow: 1
    &.left
      padding-left: 10px
      flex-basis: 20%
      flex-grow: 1
