@import basics

.route-transition
    width: 100%
    height: 100vh
    // height: calc(100% - 47px)
    transition-property: transform, opacity, left, top, right, bottom
    transition-duration: $transition-length
    transition-timing-function: $transition-timing-function
    will-change: transform

.enter-left
    position: absolute
    &.route-transition-enter
        visibility: hidden

    &.route-transition-enter-active
        transform: translateX(-100%)
        opacity: 0

    &.route-transition-enter-done
        transform: translateX(0%)
        opacity: 1
        visibility: visible


.exit-left
    position: absolute
    &.route-transition-exit
        visibility: visible
        opacity: 1

    &.route-transition-exit-active
        transform: translateX(0)
        opacity: 0
        transform: translateX(-100%)

    &.route-transition-exit-done
        visibility: hidden


// Pattern to prevent transition 'bounce' and smooth out animations
.enter-right
    position: absolute
    &.route-transition-enter
        visibility: hidden

    &.route-transition-enter-active
        transform: translateX(100%)
        opacity: 0
        

    &.route-transition-enter-done
        transform: translateX(0%)
        opacity: 1
        visibility: visible
    
.exit-right
    position: absolute
    &.route-transition-exit
        visibility: visible
        opacity: 1

    &.route-transition-exit-active
        transform: translateX(0)
        opacity: 0
        transform: translateX(100%)

    &.route-transition-exit-done
        visibility: hidden

.enter-bottom
    position: absolute
    &.route-transition-enter
        visibility: hidden

    &.route-transition-enter-active
        transform: translateY(100%)
        opacity: 0

    &.route-transition-enter-done
        transform: translateY(0%)
        opacity: 1
        visibility: visible

.exit-bottom
    position: absolute
    &.route-transition-exit
        visibility: visible
        opacity: 1

    &.route-transition-exit-active
        transform: translateY(0)
        opacity: 0
        transform: translateY(100%)

    &.route-transition-exit-done
        visibility: hidden

.fade-away
    &.route-transition-exit
        position: absolute
        transform: translateX(0)
        opacity: 1

    &.route-transition-exit-active
        opacity: 0    