html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#App {
  font-family: Helvetica, sans-serif;
  font-size: calc(14px + 1 * ((100% - 400px) / 800));
  font-weight: lighter;
  width: 100%;
  min-height: 100vh;
  color: white;
  transition: background 0.25s; }
  #App.gratitudes {
    background: rgba(0, 150, 235, 0.6); }
  #App.priorities {
    background: rgba(15, 155, 220, 0.6); }
  #App.relationships {
    background: rgba(30, 165, 205, 0.6); }
  #App.today {
    background: rgba(45, 175, 175, 0.6); }
  #App.projects {
    background: rgba(15, 125, 185, 0.6); }
  #App.contacts {
    background: rgba(25, 130, 165, 0.6); }
  #App.tasks {
    background: rgba(15, 105, 155, 0.6); }
  #App.settings, #App.credits {
    background: rgba(46, 171, 174, 0.8); }
  #App header {
    height: 47px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center; }
  #App a {
    text-decoration: none;
    color: white; }
  #App .app-logo {
    width: 150px; }

#app-version {
  color: white;
  font-size: 14px;
  width: 100%;
  font-family: Times;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0; }

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }
  .flex.column {
    flex-flow: column wrap; }

.invert {
  filter: invert(1); }

.uninvert {
  filter: invert(0); }

::-webkit-input-placeholder {
  /* Chrome */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: white;
  opacity: 1; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  transition: color 0.25s; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  transition: color 0.25s;
  opacity: 1; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  transition: color 0.25s;
  opacity: 1; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus::placeholder {
  color: transparent; }
