.cloud-sync,
.local-options {
  display: flex;
  justify-content: center;
  flex-flow: column; }
  .cloud-sync .options,
  .cloud-sync .form,
  .local-options .options,
  .local-options .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.1);
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4); }
    .cloud-sync .options .title,
    .cloud-sync .form .title,
    .local-options .options .title,
    .local-options .form .title {
      flex-basis: 100%;
      text-align: center;
      padding: 10px 0;
      background: rgba(0, 0, 0, 0.4); }
    .cloud-sync .options .icon,
    .cloud-sync .form .icon,
    .local-options .options .icon,
    .local-options .form .icon {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      padding: 10px;
      position: relative;
      bottom: 0;
      transition: 0.25s;
      color: white; }
  .cloud-sync .sync-button,
  .cloud-sync .option-link,
  .local-options .sync-button,
  .local-options .option-link {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
    flex-grow: 1;
    transition: 0.25s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.3); }
    .cloud-sync .sync-button:hover .icon,
    .cloud-sync .option-link:hover .icon,
    .local-options .sync-button:hover .icon,
    .local-options .option-link:hover .icon {
      position: relative;
      bottom: 3px;
      filter: invert(1) drop-shadow(10px 10px 10px black); }
  .cloud-sync .form,
  .local-options .form {
    flex-flow: column;
    padding-bottom: 10px; }
    .cloud-sync .form .login,
    .local-options .form .login {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      margin: 10px 10px 0 10px;
      padding-bottom: 10px;
      background: rgba(0, 0, 0, 0.3); }
      .cloud-sync .form .login input,
      .local-options .form .login input {
        background: transparent;
        padding: 10px 0;
        margin: 5px auto;
        border: 0;
        font-size: 16px;
        color: white; }
      .cloud-sync .form .login button,
      .local-options .form .login button {
        margin: 0 auto;
        padding: 10px; }
      .cloud-sync .form .login + .signup,
      .cloud-sync .form .login + .signin,
      .local-options .form .login + .signup,
      .local-options .form .login + .signin {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        margin: 0px 10px;
        background: rgba(0, 0, 0, 0.4); }
        .cloud-sync .form .login + .signup span,
        .cloud-sync .form .login + .signin span,
        .local-options .form .login + .signup span,
        .local-options .form .login + .signin span {
          font-size: 16px;
          padding: 5px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          margin: 0 auto; }

.settings .result {
  padding: 10px;
  text-align: center; }

.settings .error {
  background: rgba(255, 0, 0, 0.5); }

.settings .success {
  background: rgba(50, 120, 50, 0.7); }
